apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ CHALLENGE_NAME_SLUG }}-{{ PARTICIPATION_ID }}
  namespace: emmental-challenges
  labels:
    tier: challenge-instances
    challenge_id: {{ CHALLENGE_ID }}
    participation_id: {{ PARTICIPATION_ID }}
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: challenge-instances
      challenge_id: {{ CHALLENGE_ID }}
      participation_id: {{ PARTICIPATION_ID }}
  template:
    metadata:
      labels:
        tier: challenge-instances
        challenge_id: {{ CHALLENGE_ID }}
        participation_id: {{ PARTICIPATION_ID }}
    spec:
      containers:
        - name: {{ CHALLENGE_NAME_SLUG }}
          image: {{ IMAGE }}
          imagePullPolicy: Never
          ports:
          {% for port in PORT %}
            - containerPort: {{ port['port'] | int }}
          {% endfor %}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
      volumes:
        - name: config-volume
          configMap:
            name: {{ CHALLENGE_NAME_SLUG }}-{{ PARTICIPATION_ID }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ CHALLENGE_NAME_SLUG }}-{{ PARTICIPATION_ID }}
  namespace: emmental-challenges
  labels:
    tier: challenge-instances
    challenge_id: {{ CHALLENGE_ID }}
    participation_id: {{ PARTICIPATION_ID }}
spec:
  type: NodePort
  selector:
    tier: challenge-instances
    challenge_id: {{ CHALLENGE_ID }}
    participation_id: {{ PARTICIPATION_ID }}
  ports:
  {% for port in PORT %}
    - name: {{ port['name'] }}
      port: {{ port['port'] | int }}
  {% endfor %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: emmental-challenges
  name: {{ CHALLENGE_NAME_SLUG }}-{{ PARTICIPATION_ID }}
  labels:
    tier: challenge-instances
    challenge_id: {{ CHALLENGE_ID }}
    participation_id: {{ PARTICIPATION_ID }}
data:
  secret: |-
    root:{{ SECRET }}
---
apiVersion: v1
kind: NetworkPolicy
metadata:
  namespace: emmental-challenges
  name: {{ CHALLENGE_NAME_SLUG }}-{{ PARTICIPATION_ID }}
  labels:
    tier: challenge-instances
    challenge_id: {{ CHALLENGE_ID }}
    participation_id: {{ PARTICIPATION_ID }}
spec:
  podSelector:
    matchLabels:
      tier: challenge-instances
      challenge_id: {{ CHALLENGE_ID }}
      participation_id: {{ PARTICIPATION_ID }}
  egress:
  - to:
    - podSelector:
        matchLabels:
          color: red
    ports:
    - port: 80
  ingress:
