[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-flask = "*"

[packages]
flask = "*"
flask-cors = "*"
Flask-PyMongo = "*"
flask-login = "*"

[requires]
python_version = "3.6"
