[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-flask = "*"
pytest = "==5.3.*"

[packages]
flask = "==1.1.*"
flask-cors = "==3.0.*"
Flask-PyMongo = "==2.3.*"
flask-login = "==0.4.*"

[requires]
python_version = "3.6"
